@import '../style/index.less';

@prefix: .td-lego-data-simple-show;

@{prefix}-container {
  display: flex;
  padding-top: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../assets/data_show_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 75%;
  animation: breathe 3s linear infinite;

  @{prefix}-content {
    display: flex;
    flex-direction: column;
    padding-top: 25%;
    margin-left: 10%;
    margin-right: 10%;
  }

  @{prefix}-title-wrap {
    width: 156px;
    height: 65px;
    background-image: url('../assets/rectangle.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    @{prefix}-title {
      line-height: 65px;
      text-align: center;
    }
  }

  @{prefix}-data {
    text-align: center;
    margin-top: 25px;
  }
}

@keyframes breathe {
  0% {
    opacity: 1;
  }

  50% {
    filter: brightness(150%) saturate(140%);
  }

  100% {
    opacity: 1;
  }
}
