.waybillContainer {
  box-sizing: border-box;
  width: 100%;
  height: calc(~'100% - 36px');
  padding: 8px;
}
.tableView {
  padding: 3px;
  background-size: 100% 100%;
  // background: linear-gradient( #1e53b0 50%, #0f42aa 0);
  z-index: 10;
}

.header {
  width: 100%;
  color: #fff;
  background: rgba(35, 40, 129, 1);
  height: 30px;
}

.waybillTable {
  width: 100%;
  color: #fff;
  background: linear-gradient( rgba(51, 64, 146, 1) 50%, rgba(35, 40, 129, 1) 0);
  background-size: 100% 60px;
}

.swiper {
  overflow: hidden;
  height: 210px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-self: center;
  height: 30px;
  // background: linear-gradient(270deg, rgba(65, 62, 214, 0.5) 0%, rgba(114, 141, 237, 0.6) 100%);
}
.amount {
  text-align: center;
  width: 100%;
}