.td-lego-table-container {
  box-sizing: border-box;
  width: 100%;
  height: calc(~'100% - 36px');
  padding: 8px;

  .table-view {
    padding: 3px;
    background-size: 100% 100%;

    .header {
      width: 100%;
      color: #fff;
      background: rgba(35, 40, 129, 1);
    }

    .waybill-table {
      width: 100%;
      color: #fff;
      background: linear-gradient(rgba(51, 64, 146, 1) 50%, rgba(35, 40, 129, 1) 0);
      background-size: 100% 60px;

      .table-swiper {
        height: 210px;
        overflow: hidden;
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 30px;

      .text {
        text-align: center;
      }
    }
  }
}
