@import '../../../style/index';

.td-chart-plot {
  width: 100%;
  height: 100%;
}

.ring-guide-name {
  color: @guide-name-color;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
}

.ring-guide-value {
  color: @guide-value-color !important;
  font-size: 24px !important;
  font-weight: bold;
}

.percent-sign {
  color: @guide-name-color;
  font-size: 16px;
  font-weight: normal;
  margin-left: 2px;
}
